In [10]:
import pandas as pd
import os

In [11]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
data_file = os.path.join("201908-citibike-tripdata.csv")
df= pd.read_csv(data_file)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [14]:
# 2. Check the datatypes of your columns. 

df.dtypes`

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [15]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.344224e+06,2.344135e+06,2.344224e+06,2.344224e+06,2.344135e+06,2.344224e+06,2.344224e+06,2.344224e+06,2.344224e+06,2.344224e+06
mean,1.050173e+03,1.663948e+03,4.073724e+01,-7.398197e+01,1.659298e+03,4.073686e+01,-7.398212e+01,2.944990e+04,1.980934e+03,1.154810e+00
std,1.193846e+04,1.479112e+03,3.048848e-02,2.037811e-02,1.479590e+03,3.041781e-02,2.048097e-02,7.620555e+03,1.195674e+01,5.685507e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.890000e+02,3.800000e+02,4.071745e+01,-7.399596e+01,3.800000e+02,4.071723e+01,-7.399662e+01,2.499600e+04,1.970000e+03,1.000000e+00
50%,6.740000e+02,5.130000e+02,4.073705e+01,-7.398565e+01,5.090000e+02,4.073653e+01,-7.398602e+01,3.069000e+04,1.984000e+03,1.000000e+00
75%,1.185000e+03,3.295000e+03,4.075757e+01,-7.397111e+01,3.296000e+03,4.075715e+01,-7.397115e+01,3.510900e+04,1.991000e+03,2.000000e+00
max,3.812666e+06,3.810000e+03,4.086900e+01,-7.387800e+01,3.810000e+03,4.086900e+01,-7.387800e+01,4.002500e+04,2.003000e+03,2.000000e+00

In [20]:
print(df_1["tripduration"])

0           393
1           627
2          1132
3          1780
4          1517
           ...
2344219     216
2344220     117
2344221    1614
2344222    1301
2344223     419
Name: tripduration, Length: 2344224, dtype: int64

In [30]:
# 3. Convert the 'tripduration' column to datetime datatype.

df['tripduration'] =pd.to_datetime(df['tripduration'], unit='m')


# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
print(df)

               tripduration                 starttime  \
0       1970-01-01 06:33:00  2019-08-01 00:00:01.4680
1       1970-01-01 10:27:00  2019-08-01 00:00:01.9290
2       1970-01-01 18:52:00  2019-08-01 00:00:04.0480
3       1970-01-02 05:40:00  2019-08-01 00:00:04.1630
4       1970-01-02 01:17:00  2019-08-01 00:00:05.4580
...                     ...                       ...
2344219 1970-01-01 03:36:00  2019-08-31 23:59:46.2930
2344220 1970-01-01 01:57:00  2019-08-31 23:59:47.7970
2344221 1970-01-02 02:54:00  2019-08-31 23:59:48.1560
2344222 1970-01-01 21:41:00  2019-08-31 23:59:58.3620
2344223 1970-01-01 06:59:00  2019-08-31 23:59:59.4520

                         stoptime  start station id  \
0        2019-08-01 00:06:35.3780             531.0
1        2019-08-01 00:10:29.7840             274.0
2        2019-08-01 00:18:56.1650            2000.0
3        2019-08-01 00:29:44.7940             479.0
4        2019-08-01 00:25:23.4550            3312.0
...                           ...               ...
2344219  2019-09-01 00:03:23.0360             116.0
2344220  2019-09-01 00:01:45.7440            3429.0
2344221  2019-09-01 00:26:42.7760             387.0
2344222  2019-09-01 00:21:39.7040            3168.0
2344223  2019-09-01 00:06:59.0210             447.0

                     start station name  start station latitude  \
0                Forsyth St & Broome St               40.718939
1        Lafayette Ave & Fort Greene Pl               40.686919
2              Front St & Washington St               40.702551
3                       9 Ave & W 45 St               40.760193
4                       1 Ave & E 94 St               40.781721
...                                 ...                     ...
2344219                 W 17 St & 8 Ave               40.741776
2344220          Hanson Pl & Ashland Pl               40.685068
2344221         Centre St & Chambers St               40.712733
2344222     Central Park West & W 85 St               40.784727
2344223                 8 Ave & W 52 St               40.763707

         start station longitude  end station id            end station name  \
0                     -73.992663           408.0       Market St & Cherry St
1                     -73.976682          3409.0        Bergen St & Smith St
2                     -73.989402          3388.0     President St & Henry St
3                     -73.991255           473.0  Rivington St & Chrystie St
4                     -73.945940          3312.0             1 Ave & E 94 St
...                          ...             ...                         ...
2344219               -74.001497           509.0             9 Ave & W 22 St
2344220               -73.977908           353.0  S Portland Ave & Hanson Pl
2344221               -74.004607          3440.0        Fulton St & Adams St
2344222               -73.969617           423.0             W 54 St & 9 Ave
2344223               -73.985162           529.0             W 42 St & 8 Ave

         end station latitude  end station longitude  bikeid    usertype  \
0                   40.710762             -73.994004   35305  Subscriber
1                   40.686744             -73.990632   38822  Subscriber
2                   40.682800             -73.999904   18373  Subscriber
3                   40.721101             -73.991925   25002  Subscriber
4                   40.781721             -73.945940   31198  Subscriber
...                       ...                    ...     ...         ...
2344219             40.745497             -74.001971   38655  Subscriber
2344220             40.685396             -73.974315   25264  Subscriber
2344221             40.692418             -73.989495   28485    Customer
2344222             40.765849             -73.986905   38664    Customer
2344223             40.757570             -73.990985   35210  Subscriber

         birth year  gender
0              1996       2
1              1998       2
2              1988       1
3              1988       1
4              1965       2
...             ...     ...
2344219        1972       1
2344220        1982       2
2344221        1969       0
2344222        1969       0
2344223        1994       1

[2344224 rows x 15 columns]

In [31]:
# 4. Check the datatypes of your columns. 
df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [ ]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv("C:/Users/gothw/OneDrive/one drive/Data Analytics UCB/Class_folder/Module_14/bikesharing/new.csv", index=False)